<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sağlık_OCağı_Hasta_Takip_Sistemi.Properties.Settings.saglikocakConnectionString"
            connectionString="Data Source=DESKTOP-BF5FKOU\MSSQLSERVER1;Initial Catalog=saglikocak;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>